@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Inconsolata:wght@200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Special+Elite&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background-color: black;
  width: 70%;
  margin: 0 auto;
  font-family: "Afacad", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 100px;
  gap: 15px;
}

#image-cover {
  grid-column: 1 / span 6;
  grid-row: 1 / span 5;
  width: 100%;
  height: 100%;
}

#image-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}


.images {
  background: #444;
  color: white;
  border-radius: 50px;
  grid-column: 7 / span 1;
  grid-row: 2 / span 4;
  overflow: hidden;
  object-position: center;
  transition: transform 0.5s ease, border-radius 0.5s ease;
}

.images .img {
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#logo {
  grid-column: 1 / span 2;
  grid-row: 5/ span 1;
  width: 100%;
  height: 100%;
  margin-left: 10px;
  
}


#logo:hover img {
  cursor: pointer;
  animation: spinInfinite 2s linear infinite;
}

@keyframes spinInfinite {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.beautiful-mind {
  grid-column: 7 / 13;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.beautiful-mind img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;

}

.images:hover {
  border-radius: 30px;
  transform: translateX(-30px);
  transition: all 0.5s ease;
}

.images:hover .img {
  opacity: 1;
  object-position: top;
}

.gunil {
  grid-row: 2 / span 4;
}

.images.gunil:hover {
  grid-column: 1 / span 7;

}

.jungsu {
  grid-column: 8 / span 1;
  background-color: #1a1a1a;
}

.images.jungsu:hover {
  grid-column: 2 / span 7;
}

.ode {
  grid-column: 9 / span 1;
  background-color: #444;
}

.images.ode:hover {
  grid-column: 3 / span 7;
}

.gaon {
  grid-column: 10 / span 1;
  background-color: #1a1a1a;
}

.images.gaon:hover {
  grid-column: 4 / span 7;
}

.junhan {
  grid-column: 11 / span 1;
  background-color: #444;
}

.images.junhan:hover {
  grid-column: 5 / span 7;
}

.jooyen {
  grid-column: 12 / span 1;
  background-color: #1a1a1a;
}

.images.jooyen:hover {
  grid-column: 6 / span 7;
}

/*ODE*/

.ode-01 {
  grid-row: 2 / span 4;
  background: url(/images/ode-01.png);
  object-fit: cover;
}

.images.ode-01:hover {
  grid-column: 1 / span 7;

}

.ode-02 {
  grid-column: 8 / span 1;
  background: url(/images/ode-02.png);
  object-fit: cover;
}

.images.ode-02:hover {
  grid-column: 2 / span 7;
}

.ode-03 {
  grid-column: 9 / span 1;
  background: url(/images/ode-03.png);
  object-fit: cover;
}

.images.ode-03:hover {
  grid-column: 3 / span 7;
}

.name {
  color: white;
  grid-column: 12 / 13;
  grid-row: 2;
  font-size: 1.3rem;
  font-family: "Special Elite", system-ui;
}

.text {
  color: white;
  font-size: 1.1rem;
  grid-column: 11 / 13;
  grid-row: 2 / span 4; 
  text-align: right;
  display: flex;
  align-items: flex-end; 

}